/*CSS basic style sheet*/

* {
    background-image: radial-gradient(
        circle,
        #F0F3BD,
    );
    font-family: 'Courier New', Courier, monospace;
}
h1 {
    text-align: center;
    font-size: xx-large;
    color:darkred;
}
.description {
    font-size: small;
    font-style: italic;
    color: black;
    text-align: center;
}
.footer{
    border: cadetblue;
    border-style: double;
    border-radius: 2ch;
    text-align: center;
    padding: 0.1rem;
}
a, li {
    color:#875C74;
    align-items: flex-start;
}
.navbar {
    border-style: hidden;
    padding: 4%;
    background-color: #C5EBC3;
}